
<button class="btn-creed" routerLink="/home"> Home </button>
<button class="btn-creed" routerLink="/recipe"> Recipe </button>
<button class="btn-creed" routerLink="/blog"> Blog </button>
<button class="btn-creed" routerLink="/contact"> Contact Us </button>



<router-outlet></router-outlet>

<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up For More Recipe</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
</div>
<div class="form">
  <input type="text" placeholder="Your email address">
  <button class="normal">Sign Up</button>

</div>
</section>


<footer class="section-p1">
  <div class="col">
   <img src="assets/Panla fried sauce.jpeg" width="250px" height="250px" alt=""><br>
   <h4>Contact</h4>
   <p><strong>Address:</strong>52, Kalejaye street, Ibadan</p>
   <p><strong>Phone:</strong> +23411111111</p>
   <p><strong>Hours:</strong> 08:00 -18:00, MON - SAT </p>
   <div class="follow">
     <h4>Follow us</h4>
     <div class="icon">
       <i class="fab fa-facebook-f"></i>
       <i class="fab fa-twitter"></i>
       <i class="fab fa-instagram"></i>
       <i class="fab fa-pinterest-p"></i>
       <i class="fab fa-youtube"></i>
     </div>
   </div>
  </div>

  <div class="col">
   <h4>ABOUT</h4>
   <a href ="#">Meal plans</a>
   <a href="#">Delivery Information</a>
   <a href ="#">Privacy Policy</a>
   <a href="#">Terms & Conditions</a>
   <a href="#">Contact Us</a>
</div>

 <div class="col">
 <h4>My Account</h4>
 <a href ="#">Sign In</a>
 <a href="#">View Cart</a>
 <a href ="#">My Wishlist</a>
 <a href="#">Track My Order</a>
 <a href="#">Help</a>
</div> 

<div class="col install">
<h4>Install App</h4>
<p>From App Store or Google Play</p>
<div class="row">
 <img src="assets/apple logo.jpg" alt=""  width="170px" height="50px">
 <img src="assets/google play.jpg" alt="" width="170px" height="50px">
</div>
<p>Secured Payment Gateways</p>
<img src="assets/atm logo.jpg" alt="">
</div>

<div class="copyright">
<p>01 2022, OUR GROUP FOOD'S WEBSITE</p>


</div>
</footer>