<h1>About Us</h1>
<div>
    <p>Welcome to our recipe website! At {{companyname}}, we are passionate about your nutrition and wellbeing  Our
        mission is to help to provide those recipe you will be needing in providing those yummy delicacy for you and your 
        and family</p>

    <p>Since our founding in  April 2023, we have been dedicated to making you and your family excited about meals. We
        believe your meal doesn't have to be boring, you can always spice it up to give you a tanatalizing taste. We are
        committed to making your stomach pleased at all times.</p>

    <p>Our team is made up of individuals who bring a diverse set of skills and experiences to our work. We are
        proud to employ some of the most talented and dedicated chefs in the industry. Together, we work
        tirelessly to give you a satisfactory experience.</p>

    <p>We believe in giving back to our community and supporting causes that align with our values. That's why we
        regularly donate our time, money and resources to humanity.</p>

    <p>Thank you for considering {{companyname}} for your recipe of all kind. We look forward to hearing good reviews from you.</p>
</div>
<div class="enny">


<h2>Our Team</h2>

<p>Meet the people behind our company:</p>

<div class="arrange">
    <ul *ngFor="let item of team">
        <li>{{item.name}} - {{item.position}}</li>
        
    </ul>
</div>

</div>