

<div class="blog-header">
<div class="blog-img">
<img src="assets/homepage2.jpg">
</div>
<h1>WELCOME TO OUR GROUP'S FOOD RECIPE WEBSITE</h1>
<p class="first">Looking for a tantalizing, pleasing recipe to make your stomach happy, <br>
   leave a lasting impression with every dish that you make by experimenting <br>
   our group recipes.The recipes are here for you to have a great experience <br>
   whenever you visit here. #STOMACHMATTERS#</p>
</div>
   


<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up For More Recipe</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
</div>
<div class="form">
  <input type="text" placeholder="Your email address">
  <button class="normal">Sign Up</button>

</div>
</section>
